antlr4-python3-runtime==4.9.3
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.1.8
colour==0.1.5
deepdiff==8.4.2
drawsvg==2.4.0
et_xmlfile==2.0.0
idna==3.10
loguru==0.7.3
Markdown==3.8
markdown-it-py==3.0.0
mdurl==0.1.2
mitreattack-python==4.0.1
numpy==2.2.5
openpyxl==3.1.5
orderly-set==5.4.0
packaging==25.0
pandas==2.2.3
pillow==11.2.1
platformdirs==4.3.7
pooch==1.8.2
Pygments==2.19.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
rich==14.0.0
shellingham==1.5.4
simplejson==3.20.1
six==1.17.0
stix2==3.0.1
stix2-patterns==2.0.0
tabulate==0.9.0
tqdm==4.67.1
typer==0.15.3
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
XlsxWriter==3.2.3
